.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: linen;
    padding: 32px 16px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
  
}
.DrawerNavigation {
    width: 100%;
    background: lightgoldenrodyellow;
 
}
@media (min-width: 550px){
    .SideDrawer{
        display: none;
    }
}

.Open {
    transform: translateX(0);
}
.Close {
    transform: translateX(-100%);
}

